//
// Created by Pankaja W on 3/27/2020.
//

#ifndef _config_H_
#define _config_H_

// All URLs have to non-SSL
#define OPENWEATHERMAP_API_URL ""
#define NOTIFICATION_URL ""

#define SSID ""
#define PSK  ""
#define SENSOR_PIN 0

#endif //_config_H_
